/* Commit 23 */
/* 全体 */

*{
  font-family: "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Roboto", "Noto Sans JP", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0px;
}
body{
  width: 100%;
  margin: 0;
  padding: 0;
  color: #555555;
  /* background-color: rgb(249,244,243);*/
}

/* Top Message */
.main_contents{
  width: 100%;
  color: black;
  padding-top: 0px;
  margin: 0px;
}

/* Works */

.works{
  width:100%;
  padding: 80px 0;
  text-align: justify;
}


.works_title{
  text-align: center;
  padding-bottom: 30px;
  font-size: 200%;

}

.works_list{
  text-align: center;

  font-size: 120%;
  font-weight: bold;
}


.works_menuButton {
  border:3px solid rgba(80,80,80,1);
  background-color: rgba(80,80,80,1);
  padding:10px 10px;
  margin: 10px;
  font-size: 120%;
  width: 40%;
  min-height: 60px;
  color: #fff;
  transition: .6s all;
  white-space: normal;
  cursor: pointer;
  border-radius: 5px;
}

.works_menuButton:hover {
  border:3px solid rgba(80,80,80,1);
  background-color: rgba(255,255,255,0);
  color:  rgba(80,80,80,1);
  transition: 0.4s;
}

.works_moreButton {
  border:3px solid rgba(80,80,80,1);
  background-color: rgba(80,80,80,1);
  padding:10px 10px;
  margin-top: 50px;
  font-size: 150%;
  width: 60%;
  min-height: 60px;
  color: #fff;
  transition: .6s all;
  white-space: normal;
  cursor: pointer;
  border-radius: 5px;
}

.works_moreButton:hover {
  border:3px solid rgba(80,80,80,1);
  background-color: rgba(255,255,255,0);
  color:  rgba(80,80,80,1);
  transition: 0.4s;
}



.works_contents2{
  margin: 80px 0;
}


.works_contents2 h1{
  font-size: 250%;
  font-weight: 200;
  margin-top: 50px;
  letter-spacing: 10px;
}


.columns_2{
  width: 70%;
  padding: 0px 15%;
  text-align: center;
  opacity: 0;
  transition: .8s;
}

.columns_3{
  width: 90%;
  padding: 0px 5%;
  text-align: center;
  opacity: 0;
  transition: .8s;
}


.works_others_photo_col2{
  width: 40%;
  padding: 5% 5%;
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  float: left;
}

.works_others_photo_col3{
  width: 30%;
  padding: 5% 1.5%;
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  float: left;

}


.works_others_description_col2{
  width: 40%;
  padding: 5% 5%;
  padding-bottom: 10px;
  float: left;
  text-align: justify;
  font-size: 130%;
}

.works_others_description_col3{
  width: 30%;
  padding: 5%1.5%;
  padding-bottom: 10px;
  float: left;
  text-align: justify;
  font-size: 130%;
}

.idx{
  letter-spacing: 5px;
}

.think{
  color: brown;
}

.skill{
  color: green;
}






.clear { clear:both; }
.clear hr { display:none; }
.centering{
  text-align: center;
}

/* Footer */

footer{
  width:100%;
  margin: 0 auto;
  padding: 0px 0px;
  width: 100%;
  height: auto;
  background-color: #cccccc;
  color: black;
}
.copyright{
  width:100%;
  margin-top: 10px;
  padding: 20px 0;
  text-align: center;
}

#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 2px solid rgb(188,188,188);
}

#pageTop img{
  box-shadow: 2px solid rgb(188,188,188);
}

#pageTop:hover {
  text-decoration: none;
  opacity: 0.7;

}

.opacity_1{
  opacity: 1.0;
}

/* Other */
/*
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  box-shadow: inset 0 0 5px rgba(0,0,0, .1);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 0px;
  box-shadow:0 0 0 1px rgba(0,0,0, .3);
}
*/
