/* Commit 9 */
/* 全体 */

*{
  font-family: "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Roboto", "Noto Sans JP", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0px;
}
body{
  width: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  background-color: rgb(249,244,243);
}

/* Navigation */
header{
  margin: 0px;
  width: 100%;
  padding: 0px 0px;
  background-color: brown;
}

.global_nav{
  width: 100%;
  height: auto;
  margin: 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  position: fixed; 
  background-color: brown;

}






/* Top Message */
.main_contents{
  width: 100%;  
  background-size: cover;
  background-position: center;
  color: black;
  font-size: 130%;
  padding: 0 0px 0 0px;
  margin: 0px;
}

.top_message{
  text-align: center;
  padding: 0px 6%;
  font-size: 120%;
  white-space: normal;
}

.top_title_en{
  text-align: center;
}

.top_title_jp{
  text-align: center;
  padding: 30px 0;
}


/* about -64, 64*/

.about_photo{
  width: 25%;
  padding: 0px 0px 0px 0px;
  float: left;
}
.about_photo img{
  box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
}

.about_description{
  width: 75%;
  padding: 0px 0px 0px 0px;
  float: right;
  color: white;
}

.about_title{
  text-align: left;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 140%;


}
.about_title a{
  color: white;
}
.about_title a:visited{
  color: white;
}

.about_introduction{
  text-align: left;
  white-space: normal;
  padding-right: 6%;
  font-size: 130%;
}





/* Works */
.works_main_title{
  text-align: center;
  padding-bottom: 10px;
  font-size: 120%;
  color: brown;
}

.works_list{
  text-align: center;
  padding-bottom: 20px;
  font-size: 130%;
  font-weight: bold;
}

.works_list p a:link{
  color: brown;
}
.works_list p a:visited{
  color: brown;
}

.works_photo_list{
  align-items: center;
  text-align: center;
}

.works_photo_list img{
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.works_contents{
  width: 100%;
  padding-right: 6%;
  font-size: 110%;

}

.works_title{
  padding-bottom: 10px;
  font-size: 110%;
}


.works_title h1{
  color: brown;
  padding-left: 6%;
  white-space: normal;
}
.works_title h3{
  padding-left: 6%;
  white-space: normal;
}

.works_description h2{
  color: brown;
  white-space: normal;
  padding-left: 6%;
  padding-right: 6%;
}

.works_description p{
  white-space: normal;

  padding-left: 6%;
  padding-right: 6%;

}



.works_description a{
  color: brown;
  padding-left: 6%;
}


.works_description a:visited{
  color: brown;
  padding-left: 6%;
}


.works_image{
  text-align: center;
}


.works_image img{
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  margin:20px;
}


.works_others_title{
  text-align: center;
  padding-bottom: 10px;

}

.works_others_title h1{
  color: brown;
  padding-bottom: 10px;
}

.works_others_title h2{
  color: brown;
  padding-bottom: 10px;
}

.works_others_title p{
  white-space: normal;
  font-size:120%;
}

.works_others_photo{
  text-align: center;
  padding-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.works_others_photo img{
  text-align: right;
  margin: 10px;
  width: 20%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}



 

.clear { clear:both; }
.clear hr { display:none; }

/* Footer */

footer{
  width:100%;
  margin: 0 auto;
  padding: 0px 0px;
  width: 100%;
  height: auto;
  background-color: brown;
  color: white;
}
.copyright{
  width:100%;
  margin-top: 10px;
  padding: 20px 0;
  text-align: center;
}

.sample2 {
  text-align: center;
  width:      40%;
  height:     300px;
  margin-left: 6%;
  margin-top: 20px;
  
  overflow:   hidden;

  float: left;
  position:   relative;
      display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.sample2 img{

}
.sample2 .caption {
  font-size:    130%;
  text-align:     center;
  color:      #ffffff;
   padding: 5%;
}
.sample2 .mask {
  width:      100%;
  height:     100%;
  position:   absolute;

  top:      0;
  left:     0;
  opacity:    0;  /* マスクを表示しない */
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: all 0.6s ease;
  transition:   all 0.6s ease;
  white-space: normal;
}
.sample2:hover .mask {
  opacity:    1;  /* マスクを表示する */
  padding-top:    80px; /* ホバーで下にずらす */
}

/* Other */
/*
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  box-shadow: inset 0 0 5px rgba(0,0,0, .1);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 0px;
  box-shadow:0 0 0 1px rgba(0,0,0, .3);
}
*/
